/* ==========================================================================
   Notices
   ========================================================================== */

/*
<<<<<<< HEAD
   Default notice .notice
   ========================================================================== */

@mixin notice($notice-color) {
	position: relative;
	padding: 1.5em;
	font-family: $alt-font;
	@include font-size(14,39);
	color: $white;
	background-color: $notice-color;
	border-radius: $border-radius;
	a {
		color: $white;
		border-bottom: 1px dotted $white;
	}
}
.notice {
	@include notice($primary-color);
}

/*
   Inverse notice .notice-inverse
   ========================================================================== */

.notice-inverse {
	@include notice($white);
	color: $text-color;
	a {
		color: $text-color;
	}
}

/*
   Info notice .notice-info
   ========================================================================== */

.notice-info {
	@include notice($info-color);
}

/*
   Warning notice .notice-warning
   ========================================================================== */

.notice-warning {
	@include notice($warning-color);
}

/*
   Success notice .notice-success
   ========================================================================== */

.notice-success {
	@include notice($success-color);
}

/*
   Danger notice .notice-danger
   ========================================================================== */

.notice-danger {
	@include notice($danger-color);
=======
   Default notice
   ========================================================================== */

.notice {
  margin-top: 1.5em;
  padding: .5em 1em;
  text-indent: 0;
  @include font-size(16);
  background-color: lighten($black, 95);
  border: 1px solid lighten($black, 90);
  @include rounded(4px);
>>>>>>> ae609dcc495bea1b08056b2092ec60c839ed6525
}

/*
   Browser upgrade notice
   ========================================================================== */

.upgrade {
<<<<<<< HEAD
  text-align: center;
  a {
    text-decoration: none;
  }
=======
  padding: 10px;
  text-align: center;
>>>>>>> ae609dcc495bea1b08056b2092ec60c839ed6525
}
